# Environment variables configuration for the application
DATABASE_URL=""

# JWT configuration
JWT_SECRET=""
JWT_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""

# Application mode (development, production, etc.)
MODE=""